.video {
    border:none;
    width: 540px;
    height: 480px;
    position: relative;
    margin-top: 9px;
    margin-left: 5px;

    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

@media (max-width: 1024px) {
  .video {
    width: 100%;
    height: 350px;
  }
}

@media (max-width: 768px) {
  .video {
    height: 280px;
    border-radius: 30px;
  }
}

@media (max-width: 768px) {
  .skill_infos {
    font-size: 1rem;
    text-align: center;
  }

  .skill_name {
    text-align: center;
  }

  .skill__key {
    text-align: center;
  }
}
