@font-face {
    font-family: Beaufort-Bold;
    src: url("../fonts/Beaufort-Bold.ttf");
}

@font-face {
    font-family: Beaufort-Medium;
    src: url("../fonts/Beaufort-Medium.ttf");
}

/*
====== HOME SECTION ======
*/
.home {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home__section {
    width: 80%;
    height: 80vh;
    position: absolute;
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 45px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.336);

}

/*
====== NAME SECTION ======
*/
.info__section {

    width: 40%;
    height: 30vh;
    color: #fff;
    font-family: Beaufort-Bold;
    margin-top: 7%;
    margin-left: 14%;
}

.info__section h1 {
    font-size: 6rem;
}

.info__section p {
    font-size: 1.5rem;
}

/*
====== HABILITIES SECTION ======
*/

.habilities__section {

    width: 40%;
    margin-left: 14%;
    font-size: 1.4rem;
    font-family: Beaufort-Bold;
    color: #fff;
    position: relative;
    top: -8%;
}

.hability {
    display: flex;
    gap: 30px;
    margin-top: 10%;



}

.hability div {
    transition: .5s;

}

.hability div:hover {
    transform: translateY(5px);
    cursor: pointer;


}

.skill__border {
    padding: 7px 5px 2px 5px;
    border: 1px solid goldenrod;
}
.skill__border2 {
    padding: 7px 5px 2px 5px;
    border: 1px solid goldenrod;
}
.skill__border3 {
    padding: 7px 5px 2px 5px;
    border: 1px solid goldenrod;
}
.skill__border4 {
    padding: 7px 5px 2px 5px;
    border: 1px solid goldenrod;
}
.skill__border5 {
    padding: 7px 5px 2px 5px;
    border: 1px solid goldenrod;
}

hr {
    top: 3%;
    border: 1px solid rgba(255, 217, 0, 0.582);
    position: relative;
    width: 60%;
}

.suqare__skills__videos {
    position: relative;
    height: 500px;
    width: 550px;
    position: absolute;
    top: 30%;
    margin-left: 60%;
    border: 1px solid goldenrod;


    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.close_last_video {
    display: none;
    visibility: hidden;
}


.skills__info {
    position: relative;
    top: 20px;
    color: bisque;

}

