@font-face {
    font-family: Beaufort-Bold;
    src: url("../fonts/Beaufort-Bold.ttf");
}

@font-face {
    font-family: Beaufort-Medium;
    src: url("../fonts/Beaufort-Medium.ttf");
}

/*
====== HOME SECTION ======
*/
.home {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home__section {
    width: 80%;
    height: 80vh;
    position: absolute;
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 45px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.336);

}

/*
====== NAME SECTION ======
*/
.info__section {

    width: 40%;
    height: 30vh;
    color: #fff;
    font-family: Beaufort-Bold;
    margin-top: 7%;
    margin-left: 14%;
}

.info__section h1 {
    font-size: 6rem;
}

.info__section p {
    font-size: 1.5rem;
}

/*
====== HABILITIES SECTION ======
*/

.habilities__section {

    width: 40%;
    margin-left: 14%;
    font-size: 1.4rem;
    font-family: Beaufort-Bold;
    color: #fff;
    position: relative;
    top: -8%;
}

.hability {
    display: flex;
    gap: 30px;
    margin-top: 10%;



}

.hability div {
    transition: .5s;

}

.hability div:hover {
    transform: translateY(5px);
    cursor: pointer;


}

.skill__border {
    padding: 7px 5px 2px 5px;
    border: 1px solid goldenrod;
}

.skill__border2 {
    padding: 7px 5px 2px 5px;
    border: 1px solid goldenrod;
}

.skill__border3 {
    padding: 7px 5px 2px 5px;
    border: 1px solid goldenrod;
}

.skill__border4 {
    padding: 7px 5px 2px 5px;
    border: 1px solid goldenrod;
}

.skill__border5 {
    padding: 7px 5px 2px 5px;
    border: 1px solid goldenrod;
}

hr {
    top: 3%;
    border: 1px solid rgba(255, 217, 0, 0.582);
    position: relative;
    width: 60%;
}

.suqare__skills__videos {
    position: relative;
    height: 500px;
    width: 550px;
    position: absolute;
    top: 30%;
    margin-left: 60%;
    border: 1px solid goldenrod;


    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.close_last_video {
    display: none;
    visibility: hidden;
}


.skills__info {
    position: relative;
    top: 20px;
    color: bisque;

}

@media (max-width: 1024px) {
    .home__section {
        width: 90%;
        margin-left: 5%;
        height: auto;
        padding-bottom: 40px;
    }

    .info__section {
        width: 80%;
        margin-left: 10%;
        text-align: center;
    }

    .info__section h1 {
        font-size: 4rem;
    }

    .habilities__section {
        width: 80%;
        margin-left: 10%;
        top: 0;
    }

    .suqare__skills__videos {
        position: relative;
        margin: 40px auto;
        width: 80%;
        height: auto;
    }
}

@media (max-width: 768px) {

    .home {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: repeat;
        background-position: center;
        background-color: #000000;
    }

    .home__section {
        position: relative;
        height: auto;
        padding-bottom: 40px;
    }

    /* INFO (nome do campeão) */
    .info__section {
        width: 100%;
        margin: 40px 0 20px 0;
        text-align: center;
    }

    .info__section h1 {
        font-size: 3rem;
    }

    .info__section p {
        font-size: 1.2rem;
    }

    /* REMOVE posicionamentos forçados */
    .habilities__section {
        width: 100%;
        margin: 0;
        position: static;
        text-align: center;
    }

    /* ÍCONES DAS SKILLS */
    .hability {
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
        margin-top: 20px;
    }

    /* VÍDEO – AGORA VEM LOGO ABAIXO DO NOME */
    .suqare__skills__videos {
        position: relative;
        width: 90%;
        height: auto;
        margin: 20px auto;
        top: 0;
        border-radius: 25px;
    }

    /* TEXTO DA SKILL */
    .skills__info {
        margin-top: 20px;
        text-align: center;
    }

    hr {
        width: 80%;
        margin: 20px auto;
    }
}


@media (max-width: 480px) {


    .info__section h1 {
        font-size: 2.3rem;
    }

    .info__section p {
        font-size: 1rem;
    }

    .habilities__section {
        font-size: 1.1rem;
    }

    .suqare__skills__videos {
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
    }
}