/*
======== BIOGRAPHY SECTION =========
*/

.byography {
    width: 100%;
    box-sizing: border-box;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 10%;
    color: #fff;
}

/*
======== ROLE SECTION =========
*/

.role {
    width: 80px;
    transition: .5s;
}

.role:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.role__square {
    text-align: center;
}

.role__square p {
    position: relative;
    top: 10px;
}

.p1 {
    font-family: 'Poppins', sans-serif;
}

.p2 {
    color: #daa520;
    margin-top: 5px;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: Beaufort-Bold;
}

/*
======== DIFICULT SECTION =========
*/
.dificult__square {

    position: relative;
    top: 7.5%;
}

.p3 {
    font-family: 'Poppins', sans-serif;
}

.p4 {
    color: #daa520;
    margin-top: 5px;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: Beaufort-Bold;
}

.bio {
    color: #daa520;
}

.status {
    display: flex;
    gap: 5px;
    position: relative;

}

.suqare__1,
.suqare__2,
.suqare__3 {
    position: relative;
    top: -20px;
    border-radius: 100px;
}

.suqare__1 {
    width: 40px;
    height: 25px;
    background-color: #08D7F7;

}

.suqare__2 {
    width: 40px;
    height: 25px;
    background-color: #08D7F7;
}

.suqare__3 {
    width: 40px;
    height: 25px;
    background-color: #013241;


}

/*
    BIOGRAPHY SECTION
*/



.biography__Section h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-transform: capitalize;
    font-family: Beaufort-Bold;
}

.biography__Section p {
    font-size: 1rem;
    text-align: center;
    letter-spacing: 1px;

    font-family: 'Poppins', sans-serif;
}

@media (max-width: 1024px) {
  .byography {
    flex-direction: column;
    height: auto;
    top: 0;
    padding: 40px 20px;
    gap: 40px;
    text-align: center;
  }

  .role__square,
  .dificult__square,
  .biography__Section {
    width: 100%;
  }

  .dificult__square {
    top: 0;
  }
}

@media (max-width: 768px) {

  .role {
    width: 60px;
  }

  .status {
    justify-content: center;
  }

  .suqare__1,
  .suqare__2,
  .suqare__3 {
    top: 0;
  }

  .p1,
  .p3 {
    font-size: 0.9rem;
  }

  .p2,
  .p4 {
    font-size: 1.1rem;
  }

  .biography__Section h3 {
    font-size: 2rem;
  }

  .biography__Section p {
    font-size: 0.95rem;
    line-height: 1.6;
    padding: 0 10px;
  }
}

@media (max-width: 480px) {

  .biography__Section h3 {
    font-size: 1.7rem;
  }

  .biography__Section p {
    font-size: 0.9rem;
  }
}

