.skins_slider_section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.img_skins {
    width: 900px;

}

.swiper {
    width: 800px;
    height: 500px;
    border-radius: 10px;


}

.skins_slider_section {
    position: relative;
    top: 5%;
}

.mySwiper {
    position: relative;
    margin-top: 2%;
    margin-left: 30px !important;
}

.text {
    position: absolute;
    text-align: center;
    color: #daa520ce;
    top: 90%;
    left: 2%;

    background-color: rgba(0, 0, 0, 0.274);

    font-family: Beaufort-Bold;


    border-radius: 5px;
    padding: 5px;
    padding-top: 0;

    font-size: 1.4rem;
}



.avaliable {
    color: #daa520;
    font-size: 2.5rem;
    position: relative;

    font-family: Beaufort-Bold;

    position: relative;

    top: 310px;
    left: 38%;
}